<html>
    <head>
        <title>Website Resume: Cody Paral</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylemain.css') }} ">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styleabout.css') }} ">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylepersonal.css') }} ">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styleaboutcontent.css') }} ">
	<link rel="icon" href="{{ url_for('static',filename='images/icon.png') }} ">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    </head>

    <body>
        <div class="hea">
            <p>Website Resume: Cody Paral</p>
        </div>
        
        <div class="nav">
	  <a href="/">
	    <div class="nav_item">
	      <p>Home</p>
	    </div>
	  </a>
	  <a href="/about">
	    <div class="nav_item">
	      <p>About</p>
	    </div>
	  </a>
	  <a href="/resume">
	    <div class="nav_item">
	      <p>R&eacute;sum&eacute;</p>
	    </div>
	  </a>
	  <a href="/pipage">
	    <div class="nav_item">
	      <p>Pi Page</p>
	    </div>
	  </a>
	  <a href="/JS_test_page">
	    <div class="nav_item">
	      <p>JS Test</p>
	    </div>
	  </a>
	</div>
        <div class="spacer1">
                &nbsp;
        </div>
        
         
        <div class="about_content">
            <div class="about_tag">
                <h2>General Interests:</h2>
                <p>
                    Aside from finding ways to automate tasks I have to do, I enjoy working and driving my truck. I'm very interested in how things work,
                    as a child everything I've owned was half taken apart so I could use the part's to make something new out of them. Naturally I continued with
                    bigger toy's and even started to pursue a carrer in the automotive field, however I find that it makes a better hobbie then a carrer. If I'm
                    not working on my truck, I could be tinkering with a raspberry pi project, aside from creating anything I can dream of I belive it's a fantasitic
                    learning experiance and a great way to practice working through problem's. I enjoy spending time tinkering but I always dedicate time to either
                    be with my friends or family.
                </p>
            </div>
            <div class="about_tag_alt">
                <h2>Where it began:</h2>
                <p>
                    I would say my interest in tinkering started at birth, but my interest's started becomeing a reality when I joined the robotics team when I
                    was in the 8th grade. My math/Science teacher recommended me to the high school robotics program, I started on the web managment team. Let's say
                    it wasn't the most popular category so I got great experiance learning how to manage an entire website by myself in a year. After my first year I
                    branched off into the actual building of the robot. However I used those skills to build a website for the company my father was starting at the
                    time. I had a blast building it! When I was a junior in high-school I got a position at a local toyota for work, they offered me schooling and everything
                    I needed to do great in that field. I thought I was going to go into automotive, and do great, but something felt missing. One day I got a message from 
                    a guy in afhanistaghn my dad worked with, he said he saw what I did for my dad and he offered me a deal to make him a website for his company. When I was
                    working on his website I knew this was what I had to do, being able to create something bigger then me with a keyboard and mouse.
                </p>
            </div>
            <div class="about_tag">
                <h2>How I got to a tech school in SF:</h2>
                <p>
                    Finding how to start something is the hardest part of any challange or task you may have to take on. Once The ball is rolling it's easier to take them
                    on. Finding a great school for how I learn and what they offer is a big challange as there are many choice's, and its hard to tell which place will really
                    give you everything you need to start a carrer. I met a person who went to this school called Holberton, he told me about the project based learning approche,
                    he was working in the indestry when he talked to me about the program. He told me that the way you tackle tasks is very simular to the real world. As a student
                    at this school you are learning code, but primarily how to teach yourself, so when you get givin a challange task it's not a new experiance and you are well versed
                    on how to approche the problem.
                </p>
            </div>
            <div class="about_tag_alt">
                <h2>What we covered in School:</h2>
                <p>
                    The material each batch of students encounter may change as time goes on. This is vital for a tech school as the world of technology is contantly changing
                    and in order to keep the students up to date on what's being used "now" in the indestry is important for the student's. This allows the student's to quickly be able
                    to jump right in. The course of the program is 2 years long, however it is common for students to have job's after the first 9 months, because the material was kept
                    up to date. The school does with the help of 150+ mentor's. These are people in the industry that help shape the corriculom to make sure that the material stays 
                    relavant to right now.
                </p>
            </div>
            <div class="about_tag">
                <h2>Where I want to go:</h2>
                <p>
                    This is were the content will go.
                </p>
            </div>
            <div class="about_tag_alt_pi">
                <A NAME="codeword">
                <h2>About this sever:</h2>
                <p>
                    This server is hosted on a raspberry pi 3. When I was in school I discovered the power that
                    these little divices had to offer. It wasn't long before I figured out how I could local host
                    my websites on my pi. Accessing them by the private IP had me trilled, I had to figure out how to
                    make it public. I quickly got public IP to be hosted, which means this website is on a pi. That is not
                    the end to the pi server, its not going to stay plugged into the closet and forgoten about. I have plans
                    to make this into a super pi server setup.
                </p>
                <a href="pipage.html" class="to_pi"> Go to Pi Page </a>
                </A>
            </div>
        </div>

        <div class="spacer">
                &nbsp;
            </div>

        <div class="footer">
            <p>Thank you for visiting my page!</p>
        </div>
    </body>
</html>
