<html>
    <head>
        <title>Website Resume: Cody Paral</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylemain.css') }} ">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styleabout.css') }} ">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylebod.css') }} ">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylepersonal.css') }} ">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styleaboutcontent.css') }} ">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/stylejs.css') }} ">
	<link rel="icon" href="{{ url_for('static',filename='images/icon.png') }} ">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    </head>

    <body>
        <div class="hea">
            <p>Website Resume: Cody Paral</p>
        </div>
        
        <div class="nav">
            <a href="/">
                <div class="nav_item">
                    <p>Home</p>
                </div>
            </a>
            <a href="/about">
                <div class="nav_item">
                    <p>About</p>
                </div>
            </a>
            <a href="/resume">
                <div class="nav_item">
                    <p>R&eacute;sum&eacute;</p>
                </div>
            </a>
            <a href="/pipage">
                <div class="nav_item">
                    <p>Pi Page</p>
                </div>
            </a>
            <a href="/JS_test_page">
                <div class="nav_item">
                    <p>JS Test</p>
                </div>
            </a>
        </div>    
        <div class="spacer1">
                &nbsp;
        </div>
        
         <div class="js_content">
            <form name="contactform" method="post" action="send_form_email.php">
                <table width="450px">
                    <tr>
                        <td valign="top">
                            <label for="first_name">First Name *</label>
                        </td>
                        <td valign="top">
                            <input  type="text" name="first_name" maxlength="50" size="30">
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <label for="last_name">Last Name *</label>
                        </td>
                        <td valign="top">
                            <input  type="text" name="last_name" maxlength="50" size="30">
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <label for="email">Email Address *</label>
                        </td>
                        <td valign="top">
                            <input  type="text" name="email" maxlength="80" size="30">
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <label for="telephone">Telephone Number</label>
                        </td>
                        <td valign="top">
                            <input  type="text" name="telephone" maxlength="30" size="30">
                        </td>
                    </tr>
                    <tr>
                        <td valign="top">
                            <label for="comments">Comments *</label>
                        </td>
                        <td valign="top">
                            <textarea  name="comments" maxlength="1000" cols="25" rows="6"></textarea>
                         </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align:center">
                            <input type="submit" value="Submit">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        

        <div class="spacer">
            &nbsp;
        </div>

        <div class="footer">
            <p>Thank you for visiting my page!</p>
        </div>
    </body>
</html>
